html {
  box-sizing: border-box;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  background: #1A1B21;
  width: 252.7px;
  height: 468px;
}

body {
  position: absolute;
  width: 550px;
  height: 868px;
  left: 65px;
  top: 53px;
  background: #23252C;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.profil-picture {
  position: absolute;
  width: 317px;
  height: 317px;
  left: 116px;
  top: 44px;
  object-fit: cover;
  background: url(.png);
  border-radius: 10px 10px 0px 0px;
}

.name {
  position: absolute;
  width: 178.06px;
  height: 25.81px;
  left: 186px;
  top: 362px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  text-align: center;

  color: #FFFFFF;
}

.function {

  position: absolute;
  width: 178.06px;
  height: 14.19px;
  left: 186px;
  top: 404px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12.8px;
  line-height: 15px;
  text-align: center;

  color: #F3BF99;
}

.portfolio a {
  position: absolute;
  width: 228px;
  height: 16px;
  left: 161px;
  top: 430px;
  margin-top: 8px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 10.24px;
  line-height: 150%;
  /* identical to box height, or 15px */

  text-align: center;

  color: #F5F5F5;
}

.button-mail {
  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 9px 13px 9px 11px;
  gap: 8px;
  font-size: 13px;
  position: absolute;
  width: 115px;
  height: 34px;
  left: 151px;
  top: 468px;

  /* white */

  background: #FFFFFF;
  /* gray/300 */

  border: 1px solid #D1D5DB;
  /* shadow/sm */

  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  color: #333;
}

.button-mail:hover {
  background: #D1D5DB;
  text-decoration: underline;
}

.button-linkedin {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 9px 13px 9px 11px;
  gap: 8px;
  font-size: 13px;
  position: absolute;
  width: 115px;
  height: 34px;
  left: 283px;
  top: 468px;

  background: #5093E2;
  /* shadow/sm */
  color: #fff;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
}

.button-linkedin:hover {
  background: #3B7ABF;
  text-decoration: underline;
}

.about {
  position: absolute;
  width: 242.71px;
  height: 21px;
  left: 152px;
  top: 505px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: #F5F5F5;
}

.about-text {
  position: absolute;
  width: 247px;
  height: 61px;
  left: 152px;
  top: 535px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 10.24px;
  line-height: 150%;
  /* or 15px */

  color: #DCDCDC;
}

.interests {
  position: absolute;
  width: 242.71px;
  height: 21px;
  left: 152px;
  top: 640px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  /* or 24px */


  color: #F5F5F5;
}

.interests-text {
  position: absolute;
  width: 247px;
  height: 61px;
  left: 152px;
  top: 670px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 10.24px;
  line-height: 150%;
  /* or 15px */


  color: #DCDCDC;
}

.footer {
  position: absolute;
  width: 317px;
  height: 64px;
  left: 116px;
  top: 760px;
  background: #161619;
  border-radius: 0px 0px 10px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-links {
  width: 32px;
  height: 32px;
  left: 52.18%;
  right: 43.27%;
  top: 89.75%;
  bottom: 7.37%;
  color: #918e9b;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  margin: 8px;
}
